//Variables
$padding-desktop: 2.5em 5em;
$white-space: .5em;
$padding-mobile: 2em 2.5em;

//primary variables
$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

//accent variables
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

//neutral variables
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}
//header
//navbar styling
.nav-bar{
    padding: $padding-desktop;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-items{
    margin: 0 1.5em;
}
.nav-links{
    text-decoration: none;
    color: $Desaturated-Blue;

    //hover
}

//main
//landing section styling
.l-section{
    padding: $padding-desktop;
    min-height: 82vh;
    display: flex;
    align-items: center;
    position: relative;
}
.l-content{
    width: 50%;
    color: $Very-Dark-Blue;

    h1{
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        margin-bottom: $white-space;
    }

    p{
        margin-bottom: $white-space;
    }
}
.form{
    margin-top: 2em;
    display: flex;
    width: 100%;
}
.input-wrapper{
    width: 25rem;
    height: 5vh;
    margin-right: $white-space;
    background-color: black;

    input{
        width: 100%;
        min-height: 100%;
        padding: 0 1em;
        outline: none;
        border: $Very-Dark-Blue 1px solid;
    }
}

//button global styling
.button{
    width: 10rem;
    cursor: pointer;
    outline: none;
    border: none;
    background: $Bright-Blue;
    color: #fff;
    font-weight: 700;
    transition: .2s;

    &:hover{
        background: hsla(224, 93%, 58%, 0.5);
    }
}
.l-image{
    width: 50%;
    padding: 2em;

    img{
        width: 100%;
    }
}

.l-wave{
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 100%;
    

    img{
        width: 100%;
    }
}

// form error message
.error-one{
    color: red;
    visibility: hidden;
    transition: .3s;
}
.error-two{
    visibility: hidden;
    transition: .3s;
}
.show{
    visibility: visible;
    transition: .3s;
}

//about section styling
.a-section{
    background: #F8F8FE;
    padding: $padding-desktop;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    color: $Very-Dark-Blue;
}
.a-content{
    width: 50%;
    margin-right: $white-space;

    h1{
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        margin-bottom: $white-space;
    }

    p{
        margin-bottom: $white-space;
        width: 80%;
    }

    a{
        color: $Moderate-Cyan;
        text-decoration: none;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .1em;
            background: $Moderate-Cyan;
        }
    }
}
.a-background{
    width: 50%;

    img{
        width: 100%;
    }
}

.card{
    margin-top: 2em;
    width: 23rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 1em;

    p{
        width: 100%;
    }
}
.user{
    display: flex;
    align-items: center;

    img{
        width: 4rem;
        height: 4rem;
        margin-right: $white-space;
        border-radius: 50%;
    }
}
.user-details{
    p{
        color: $Desaturated-Blue;
    }
}

//get started section styling
.g-s-section{
    padding: $padding-desktop;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $Desaturated-Blue;
    color: white;
}
.g-s-content{
    width: 50%;

    h1{
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        margin-bottom: $white-space;
    }
}
.g-s-form{
    width: 50%;
    display: grid;
    justify-content: right;

    .input-wrapper{
        width: 28rem;
        min-height: 5vh;
    }

    button{
        height: 3rem;
        margin-top: 1.7em;
    }
}
//footer
//footer section stlying
.f-section{
    width: 100%;
    background: $Very-Dark-Blue;
    color: white;
    padding: $padding-desktop;
    
    .logo{
    margin-bottom: 2em;
    }
}

.f-content{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.f-contact{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;

    img{
        margin-right: $white-space;
    }
}
.f-list{
    display: flex;

    ul{
        list-style: none; 
        
        li{
            margin-bottom: $white-space;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    

    ul:nth-child(2){
        margin-left: 6rem;
    }
}

.socials{
    i{
        font-size: 1.2rem;
        padding: .6em;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: .5em;
        cursor: pointer;
    }
}

//responisve design area
@media screen and (max-width: 1350px) {
    //main
    //landing section styling
    .l-section{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .l-content{
        width: 70%;
        margin-top: 2em;
        text-align: center;
    }
    .l-image{
        padding: 0;
        display: grid;
        place-items: center;

        img{
            width: 80%;
        }
    }
    .form{
        justify-content: center;
    }
    .l-wave{
        display: none;
    }


    //about section styling
    .a-section{
        flex-direction: column-reverse;
    }
    .a-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        h1{
            text-align: center;
        }
    }

    //get started section styling
    .g-s-section{
        flex-direction: column;
    }
    .g-s-content{
        width: 70%;
        text-align: center;
    }

}

@media screen and (max-width: 870px){
    //header
    //navbar styling
    .nav-bar{
        padding: $padding-mobile;
    }
    .logo{
        img{
            width: 5rem;
        }
    }

    //main
    //landing section styling
    .l-section{
        padding: $padding-mobile;
    }

    .l-content{
        width: 100%;
    }
    .l-image{
        width: 100%;
    }

    //about section styling
    .a-section{
        padding: $padding-mobile;
    }
    .a-content{
        width: 100%;

        P{
            width: 100%;
        }
    }
    .a-background{
        width: 100%;
    }

    //get started section styling
    .g-s-section{
        padding: $padding-mobile;
    }
    .g-s-content{
        width: 100%;
    }
    .g-s-form{
        width: 100%;
    }
    //footer
    //footer section stlying
    .f-section{
        padding: $padding-mobile;
    }

    .f-content{
        flex-direction: column;
        // align-items: center;
    }
    .f-contact{
        margin-bottom: 2em;
    }
    .f-list{
        flex-direction: column;

        ul{
            margin-bottom: 2em;
        }

        ul:nth-child(2){
            margin-left: 0;
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }

    .form{
        flex-direction: column;
    }

    .input-wrapper{
        width: 100%;
    }

    .button{
        height: 3em;
        margin-top: 1.5em;
        width: 100%;
    }

    //get started section styling
    .g-s-form{
        width: 100%;
        
        .input-wrapper{
            width: 100%;
        }
    }
}

@media screen and (max-width: 375px){
    .nav-bar, .l-section, .a-section, .g-s-section, .f-section{
        padding: 1.5em;
    }
}