*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.nav-bar {
  padding: 2.5em 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-items {
  margin: 0 1.5em;
}

.nav-links {
  text-decoration: none;
  color: #585989;
}

.l-section {
  padding: 2.5em 5em;
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.l-content {
  width: 50%;
  color: #070439;
}

.l-content h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 0.5em;
}

.l-content p {
  margin-bottom: 0.5em;
}

.form {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input-wrapper {
  width: 25rem;
  height: 5vh;
  margin-right: 0.5em;
  background-color: black;
}

.input-wrapper input {
  width: 100%;
  min-height: 100%;
  padding: 0 1em;
  outline: none;
  border: #070439 1px solid;
}

.button {
  width: 10rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: #3065f8;
  color: #fff;
  font-weight: 700;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:hover {
  background: rgba(48, 101, 248, 0.5);
}

.l-image {
  width: 50%;
  padding: 2em;
}

.l-image img {
  width: 100%;
}

.l-wave {
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 100%;
}

.l-wave img {
  width: 100%;
}

.error-one {
  color: red;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.error-two {
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.show {
  visibility: visible;
  -webkit-transition: .3s;
  transition: .3s;
}

.a-section {
  background: #F8F8FE;
  padding: 2.5em 5em;
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #070439;
}

.a-content {
  width: 50%;
  margin-right: 0.5em;
}

.a-content h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 0.5em;
}

.a-content p {
  margin-bottom: 0.5em;
  width: 80%;
}

.a-content a {
  color: #3c9f8f;
  text-decoration: none;
  position: relative;
}

.a-content a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1em;
  background: #3c9f8f;
}

.a-background {
  width: 50%;
}

.a-background img {
  width: 100%;
}

.card {
  margin-top: 2em;
  width: 23rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  padding: 1em;
}

.card p {
  width: 100%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5em;
  border-radius: 50%;
}

.user-details p {
  color: #585989;
}

.g-s-section {
  padding: 2.5em 5em;
  min-height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #585989;
  color: white;
}

.g-s-content {
  width: 50%;
}

.g-s-content h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 0.5em;
}

.g-s-form {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.g-s-form .input-wrapper {
  width: 28rem;
  min-height: 5vh;
}

.g-s-form button {
  height: 3rem;
  margin-top: 1.7em;
}

.f-section {
  width: 100%;
  background: #070439;
  color: white;
  padding: 2.5em 5em;
}

.f-section .logo {
  margin-bottom: 2em;
}

.f-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.f-contact img {
  margin-right: 0.5em;
}

.f-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-list ul {
  list-style: none;
}

.f-list ul li {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.f-list ul li:hover {
  text-decoration: underline;
}

.f-list ul:nth-child(2) {
  margin-left: 6rem;
}

.socials i {
  font-size: 1.2rem;
  padding: .6em;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: .5em;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .l-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-content {
    width: 70%;
    margin-top: 2em;
    text-align: center;
  }
  .l-image {
    padding: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .l-image img {
    width: 80%;
  }
  .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-wave {
    display: none;
  }
  .a-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .a-content {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2em;
  }
  .a-content h1 {
    text-align: center;
  }
  .g-s-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .g-s-content {
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  .nav-bar {
    padding: 2em 2.5em;
  }
  .logo img {
    width: 5rem;
  }
  .l-section {
    padding: 2em 2.5em;
  }
  .l-content {
    width: 100%;
  }
  .l-image {
    width: 100%;
  }
  .a-section {
    padding: 2em 2.5em;
  }
  .a-content {
    width: 100%;
  }
  .a-content P {
    width: 100%;
  }
  .a-background {
    width: 100%;
  }
  .g-s-section {
    padding: 2em 2.5em;
  }
  .g-s-content {
    width: 100%;
  }
  .g-s-form {
    width: 100%;
  }
  .f-section {
    padding: 2em 2.5em;
  }
  .f-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-contact {
    margin-bottom: 2em;
  }
  .f-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-list ul {
    margin-bottom: 2em;
  }
  .f-list ul:nth-child(2) {
    margin-left: 0;
    margin-top: 1em;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-wrapper {
    width: 100%;
  }
  .button {
    height: 3em;
    margin-top: 1.5em;
    width: 100%;
  }
  .g-s-form {
    width: 100%;
  }
  .g-s-form .input-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .nav-bar, .l-section, .a-section, .g-s-section, .f-section {
    padding: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */